spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

  h2:
    console:
      enabled: true
      path: /h2-console

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.sample.entity
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8080

logging:
  level:
    "[com.example.sample]": DEBUG
    "[com.example.sample.mapper]": TRACE
